/*selectores de etiquetas*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


/* INICIO ESTILO GENERAL TODO EL SITIO*/

* {color:whitesmoke ;
		font-family: 'Roboto', sans-serif;
   padding: 0;
   margin: 0 }

.bg-nav	{background-color: #1A1919;}


.boton:hover{
	transform: scale(1.05, 1.05);
	}

.botonPromo:hover{
	transform: scale(1.05, 1.05);
	}


nav ul li:hover{transform: translateY(-6px)
	}					

body {background-image: linear-gradient(#363333,#1A1919)}

footer {grid-area: footer;
		background-color: #1A1919;
     	display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-evenly ;
		font-size: 14px;
		padding-top: 10px;}

.direcciones { text-align: center; margin-top: 2%;
	              }

.emails { text-align: center ; margin: 5% 0 
				}
#escribinos {margin-bottom: 2%;}

.iconos { display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin-top: 10px;
		text-align: center;

					}

.boton {border-radius: 14px;}

#logo:hover {transform: scale(1.11, 1.11)}

@media (max-width: 480px) {		
#logo {width: 180px}

}

@media (max-width: 991px) {		

#carousel	{height: 40vh;}

}

@media (min-width: 992px) {		
#carousel	{height: 65vh;}
}

@media (min-width: 1200px){


footer {flex-direction: row;
		justify-content: space-between;
		font-size: 18px;
		padding-top: 0px
		}

.direcciones { text-align: left;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			flex-grow: 0.3;
			padding-left: 15px;
			line-height: 0.8;
						           }


.emails {	display: flex ;
		flex-direction: column;
		margin-top: 50px;
		margin-bottom: 0;
		margin-left: 44px;
		box-sizing: border-box;
		flex-grow: 2;	
		}

.iconos {	
		margin-bottom: 0;
		align-items: center;
		box-sizing: border-box;
		flex-grow: 1.2

				}

}


/*INCIO ESTILO MENU*/
@media (min-width: 320px) {

#menu {display: grid;
		grid-template-columns:1fr ;
		grid-template-rows: auto;
		grid-template-areas: 
		"nav"
		"main"
		"footer"
		}	

.menu {		 background-image: url("../img/fondosushimobile.jpg");
			background-repeat: no-repeat;
			background-size: 100% 100%;
			grid-area: main;
		}

.menu__total {display: flex;
			 flex-direction: column;
			 align-items: flex-start;
			 justify-content: center;
			 flex-wrap: nowrap;
			 padding-top: 2%;
			;
			}

.menu__texto  { margin: 5% auto}		

#menu__titulo { margin-bottom: 5%;
			  text-align: center;};
}

@media (min-width: 1200px) {

.menu {		 background-image: url("../img/fondosushi.jpg");
			background-size: cover ;
		background-repeat: no-repeat;		}

.menu__total { flex-direction: row;
			 align-items: center;
			 flex-wrap: nowrap;
			 justify-content: flex-end;
			 width: 95vw;
			 padding-top: 4%;
			 padding-bottom: 4%;}

.menu__texto { margin: 0% 5%}


#menu__titulo {font-size: 60px;
			  margin-bottom: 10%;}


.menu__texto table {margin-bottom: 20% ;}

.sushi {padding-top: 8%;	
     }


.menu__boton {margin-left: -100%;
			}

}
/*FIN ESTILO MENU*/

/*INCIO ESTILO PROMOCIONES*/

#bg-grey {background-image: linear-gradient(#363333,#1A1919)}
		
/*FIN ESTILO PROMOCIONES*/

/*INICIO ESTILO LOCALES*/

@media (min-width: 320px) {

ul li {list-style-type: none;
			text-align: center;
			font-weight: 500;
			box-sizing: border-box; 
			padding-top: 2px ;
			}
			
.navegacion {grid-area: nav;}

#locales {display: grid;
		grid-template-columns:1fr ;
		grid-template-rows: auto;
		grid-template-areas: 
		"nav"
		"main"
		"footer"
		}	


.locales {background-image: url("../img/local3.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		grid-area: main;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
			}

.locales div {margin: 0;}

.locales div iframe {width: 280px; 
				height: 300px;
				border: 0px;}

.locales h2, .locales ul li {margin-bottom: 2%;}

.locales div {margin: 4% 0;
		line-height:2em ; }
}

@media (min-width: 1200px) {

.locales {display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		text-align: center;
			}			


.locales div iframe {width: 400px; 
				height: 300px;
				border: 0px;}

}
		
/*FIN ESTILO LOCALES*/

/*INICIO ESTILO EVENTOS*/

@media (min-width: 320px) {

#eventos {display: grid;
		grid-template-columns:1fr ;
		grid-template-rows: auto;
		grid-template-areas: 
		"nav"
		"main"
		"aside"
		"footer"
		}	

#aside {grid-area: aside;
				}

#aside div img {width: 100%;}

.eventos {grid-area: main;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 4% 0}


.eventos div p {padding: 2%;}


.eventos form fieldset {margin-top: 2%;
				text-align: left;
				padding: 6px;
				box-sizing: border-box;
				line-height: 1.8;}

input, textarea, select, option  {color: black;}

input, select, option:hover {cursor: pointer;}

#botones__form	{text-align: center;}

.boton__form {color: whitesmoke;
			width: 35%;
			margin:0 4%;
			border-radius: 5px;
			background-image: linear-gradient(#363333,#1A1919);
			border: 0;
			}

.boton__form:hover {background-image: linear-gradient(#1A1919,#363333);
				cursor: pointer
				}			

}


@media (min-width: 1200px) {

#eventos {display: grid;
		grid-template-columns: 50% 50% ;
		grid-template-rows: auto;
		grid-template-areas: 
		"nav nav"
		"main aside"
		"footer footer"
		}	

.eventos h2 {font-size: 50px;}

.eventos div p {padding: 0.5%;}

.eventos {margin: 0; }


}

