<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sushi Lin - Locales</title>
	<link rel="shortcut icon" href="..//img/favicon.png">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
<!-- inicio NAV -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-nav sticky-top navegacion">
  	<div class="container-fluid">
   	 		<a class="navbar-brand d-flex align-items-end" href="../index.html"> <img src="../img/logo.png" class="rounded-pill boton" id="logo" alt="Logo sushi lin shushilin">
		 	</a>
    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    		</button>
    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
     		<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        		<li class="nav-item mx-4">
         		 <a class="nav-link active" aria-current="page" href="../views/menu.html">Menu</a>
        		</li>
        		<li class="nav-item  mx-4">
         		 <a class="nav-link active" href="../views/promociones.html">Promociones</a>
        		</li>
        		</li>
        		<li class="nav-item  mx-4">
         		 <a class="nav-link active" href="../views/locales.html">Locales</a>
        		</li>
        		</li>
        		<li class="nav-item mx-4">
         		 <a class="nav-link active" href="../views/eventos.html">Eventos y Catering</a>
        		</li>
        	</ul>
        </div>
  </div>
</nav>
<!-- end nav -->
<main class="locales">
	<div>
		<h2>Sushi Lin I - Los Cardales</h2>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8796.132092197151!2d-58.99751996290725!3d-34.32943268165511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb7b9565e74867%3A0x7b56c0efe0a8b4d4!2sRivadavia%2040%2C%20Los%20Cardales%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1656090812818!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		<ul>
			<li>Direccion: Rivadavia 40, Los Cardales, Buenos Aires.</li>
			<li>Telefono: +54 1124675151</li>
			<li>Dias y Horarios de Atencion: Martes a domingo y feriados de 18 a 22:30hs</li>
		</ul>
		<a href="https://wa.me/541124675151/" target=_blank>
		<img class="boton" src="../img/pedido-wp.png" alt="whatsapp sushi lin cardales"></a>
		<a href="https://www.pedidosya.com.ar/restaurantes/exaltacion-de-la-cruz/sushi-lin-menu?utm_source=google&utm_medium=organic&utm_campaign=google_reserve_place_order_action/" target=_blank>
		<img class="boton" src="../img/pedido-online.png" alt="pedidosya pedido online sushi lin"></a>
	</div>
	<div>
		<h2>Sushi Lin II - Benavidez</h2>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3291.38321012818!2d-58.69917269999999!3d-34.417019999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca19b16b7699d%3A0x6463928de36019b2!2sAv.%20Gral.%20Juan%20Domingo%20Per%C3%B3n%206408%2C%20B1621BFQ%20Benavidez%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1653676759552!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
		</iframe>
		<ul>
			<li>Direccion: Presidente Perón 6408, Benavidez, Buenos Aires.</li>
			<li>Telefono: +54 1136962316</li>
			<li>Dias y Horarios de Atencion: Martes a domingo y feriados de 18 a 22:30hs</li>
		</ul>
		<a href="https://wa.me/541136962316/" target=_blank>
		<img class="boton" src="../img/pedido-wp.png" alt="whatsapp sushi lin benavidez"></a>
	<a href="https://www.pedidosya.com.ar/restaurantes/tigre/sushi-lin-2-menu?category=13&search=sushi%20lin" target="_blank">
	    <img class="boton" src="../img/pedido-online.png" alt="pedidosya sushi lin2"></a>
	</div>
</main>

<footer>
	<div class="direcciones">
		<p>Los Cardales</p>
		<p>Rivadavia 40, Los Cardales, Buenos Aires.</p>
		<p>Telefono: +54 1124675151</p><br>
		<p>Benavidez</p>
		<p>Presidente Perón 6408, Benavidez, Buenos Aires.</p>
		<p>Telefono: +54 1136962316</p>
	</div>
	<div class="emails">
		<p id="escribinos">ESCRIBINOS</p>
		<p>contacto.sushilin@gmail.com</p>
		<p>contacto.sushilin2@gmail.com</p>
	</div>
	<div class="iconos">
	<a href="https://wa.me/541124675151/" target=_blank>
		<img class="boton" src="../img/wp.png" alt="whatsapp sushi lin"></a>
	<a href="https://www.facebook.com/SUSHI-LIN-2299643306979453/" target="_blank">
		<img class="boton" src="../img/face.png" alt="facebook sushi lin"></a>
	<a href="https://www.instagram.com/lin.sushi/" target="_blank"><img class="boton" src="../img/ig.png" alt="instagram ig sushi lin" width="60"height="60"></a>
	</div>
</footer>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>