<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sushi Lin - Menu</title>
	<link rel="shortcut icon" href="..//img/favicon.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body id="menu">
	<nav>
		<div class="navegador1">
		<a class="navegador__imagen" href="../index.html">
			<img id="logo" src="../img/favicon.png" alt="Logo sushi lin shushilin"></a>
		<h1 class="navegador__texto">Sushi Lin</h1>
		</div>
		<ul class="navegador2">
			<li><a href="../views/menu.html"> Menu</a></li>
			<li><a href="../views/promociones.html">Promociones</a></li>
			<li><a href="../views/locales.html">Locales</a></li>
			<li><a href="../views/eventos.html">Eventos y Catering</a></li>
		</ul>
	</nav>
	<!-- end nav -->
<main class="menu">
	<div class="menu__total">
		<section class="menu__texto">
			<h2 id="menu__titulo">Menu</h2>
			<table><h3>ENTRADAS</h3>
				<tr>
					<td>Tempura de Langostinos</td>
					<td>$800.-</td>
				</tr>
				<tr>
					<td>Tempura de Verduras</td>
					<td>$500.-</td>
				</tr>
				<tr>
					<td>Rabas</td>
					<td>$1.000.-</td>
				</tr>
				<tr>
					<td>Harumakis</td>
					<td>$650.-</td>
				</tr>
				<tr>
					<td>Sashimi Hot</td>
					<td>$750.-</td>
				</tr>
				<tr>
					<td>Giosas</td>
					<td>$600.-</td>
				</tr>								
	 		</table>
	 		 <!-- end entradas -->
	 		<table><h3>WOKS</h3>
	 			<tr>
	 				<td>Arroz con Vegetales</td>
	 				<td>$750.-</td>
	 			</tr>
	 			<tr>
	 				<td>Arroz con Carne</td>
	 				<td>$900.-</td>
	 			</tr>
	 			<tr>
	 				<td>Arroz con Pollo</td>
	 				<td>$850.-</td>
	 			</tr>
	 			<tr>
	 				<td>Arroz con langostinos</td>
	 				<td>$1200.-</td>
	 			</tr>
	 			<tr>
	 				<td>Fideos con Vegetales</td>
	 				<td>$800.-</td>
	 			</tr>
	 				<td>Fideos con Carne</td>
	 				<td>$950.-</td>
	 			</tr>
	 			<tr>
	 				<td>Fideos con Pollo</td>
	 				<td>$900.-</td>
	 			</tr>
	 			<tr>
	 				<td>Fideos con langostinos</td>
	 				<td>$1250.-</td>
	 			</tr>
	 		</table>
	 	</section> 
	 	<!-- end WOKS -->
		<section class="menu__texto sushi">
	 		<table><h3>SUSHI (x8)</h3>
	 			<tr>
	 				<td>Buenos Aires</td>
	 				<td>$700.-</td>
	 			</tr>
	 				<td>New York</td>
	 				<td>$750.-</td>
	 			</tr>
	 			<tr>
	 				<td>California</td>
	 				<td>$800.-</td>
	 			</tr>
	 			<tr>
	 				<td>Tamago</td>
	 				<td>$700.-</td>
	 			</tr>
	 			<tr>
	 				<td>Honey</td>
	 				<td>$800.-</td>
	 			</tr>
	 				<td>Ibiza</td>
	 				<td>$950.-</td>
	 			</tr>
	 			<tr>
	 				<td>Tuna</td>
	 				<td>$600.-</td>
	 			</tr>
	 			<tr>
	 				<td>Mango</td>
	 				<td>$650.-</td>
	 			</tr>
	 			<tr>
	 				<td>Veggie</td>
	 				<td>$700.-</td>
	 			</tr>
	 			<tr>
	 				<td>Vegan</td>
	 				<td>$650.-</td>
	 			</tr>
	 			<tr>
	 				<td>Chic</td>
	 				<td>$750.-</td>
	 			</tr>		 		
	 			<tr>
	 				<td>Cucumber</td>
	 				<td>$750.-</td>
	 			</tr>	 	
	 			<tr>
	 				<td>Niguiri (x3)</td>
	 				<td>$450.-</td>
	 			</tr>
	 			<tr>
	 				<td>Niguiri AVO (x3)</td>
	 				<td>$300.-</td>
	 			</tr>
	 			<tr>
	 				<td>Geisha (x3)</td>
		 			<td>$400.-</td>
		 		</tr>
	 			<tr>
	 				<td>Geisha Kiuri (x3)</td>
	 				<td>$350.-</td>
	 			</tr>	
	 			<tr>
	 				<td>Sashimi (x3)</td>
	 				<td>$300.-</td>
	 			</tr>
	 		</table>
	 			<a class="menu__boton boton__scale" href="../views/locales.html">
					<img class="boton" src="../img/haztupedido2.png" alt="haz tu pedido sushi lin"></a>
		</section>
	</div>
</main>
<footer>
	<div class="direcciones">
		<p>Los Cardales</p>
		<p>Rivadavia 40, Los Cardales, Buenos Aires.</p>
		<p>Telefono: +54 1124675151</p><br>
		<p>Benavidez</p>
		<p>Presidente Perón 6408, Benavidez, Buenos Aires.</p>
		<p>Telefono: +54 1136962316</p>
	</div>
	<div class="emails">
		<p>ESCRIBINOS</p><br>
		<p>contacto.sushilin@gmail.com</p>
		<p>contacto.sushilin2@gmail.com</p>
	</div>
	<div class="iconos">
	<a href="https://wa.me/541124675151/" target=_blank>
		<img class="boton" src="../img/wp.png" alt="whatsapp sushi lin"></a>
	<a href="https://www.facebook.com/SUSHI-LIN-2299643306979453/" target="_blank">
		<img class="boton" src="../img/face.png" alt="facebook sushi lin"></a>
	<a href="https://www.instagram.com/lin.sushi/" target="_blank"><img class="boton" src="../img/ig.png" alt="instagram ig sushi lin" width="60"height="60"></a>
	</div>
</footer>

</body>
</html>
