<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sushi Lin - Promociones</title>
	<link rel="shortcut icon" href="..//img/favicon.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body id="promociones">
	<nav>
		<div class="navegador1">
		<a class="navegador__imagen" href="../index.html">
			<img id="logo" src="../img/favicon.png" alt="Logo sushi lin shushilin"></a>
		<h1 class="navegador__texto">Sushi Lin</h1>
		</div>
		<ul class="navegador2">
			<li><a href="../views/menu.html"> Menu</a></li>
			<li><a href="../views/promociones.html">Promociones</a></li>
			<li><a href="../views/locales.html">Locales</a></li>
			<li><a href="../views/eventos.html">Eventos y Catering</a></li>
		</ul>
	</nav>
	<!-- end nav -->
<main class="promociones__total">
<div class="promociones__imagen">
	<img class="promociones__img" src="../img/promociones.jpg" alt="sushi">
</div>
<div class="promociones">
	<h2>Promociones</h2>
	<section><h3>TABLA SALMON</h3>
		<table border="1px"	cellpadding="1px">
			<tr>
				<th>Cantidad</th>
				<th>Descripcion</th>
				<th>Precio</th>
			</tr>
			<tr>
				<td>x15</td>
				<td>5 Buenos Aires, 5 New York, 2 Niguiri, 3 Sashimi </td>
				<td>$1.600.-</td>
			</tr>
			<tr>
				<td>x30</td>
				<td>8 Buenos Aires, 8 New York, 5 Tamago, 3 Niguiri, 3 Geisha, 3 Sashimi</td>
				<td>$3.000.-</td>
			</tr>
			<tr>
				<td>x40</td>
				<td>8 Buenos Aires, 8 New York, 8 Tamago, 5 Honey, 5 Niguiri, 3 Geisha, 3 Sashimi </td>
				<td>$3.600.-</td>
			</tr>
		</table>
	</section>
	<section> <h3>TABLA COMBINADA</h3>
		<table border="1px"	cellpadding="1px">
			<tr>
				<th>Cantidad</th>
				<th>Descripcion</th>
				<th>Precio</th>
			</tr>
			<tr>
				<td>x15</td>
				<td>5 Buenos Aires, 5 California, 2 Niguiri, 3 Sashimi </td>
				<td>$1.400.-</td>
			</tr>
			<tr>
				<td>x30</td>
				<td>8 Buenos Aires, 8 California, 5 Ibiza, 3 Niguiri, 3 Geisha, 3 Sashimi</td>
				<td>$2.650.-</td>
			</tr>
			<tr>
				<td>x40</td>
				<td>8 Buenos Aires, 8 New York, 8 Ibiza, 5 Tuna, 5 Niguiri, 3 Geisha, 3 Sashimi </td>
				<td>$3.400.-</td>
			</tr>
		</table>
	</section>
	<section><h3>TABLA VEGGIE</h3>
		<table border="1px" cellspacing="1px">
			<tr>
				<th>Cantidad</th>
				<th>Descripcion</th>
				<th>Precio</th>
			</tr>
			<tr>
				<td>x15</td>
				<td>5 Mango, 5 Veggie, 3 Vegan, 2 Niguiri AVO</td>
				<td>$1.250.-</td>
			</tr>
			<tr>
				<td>x30</td>
				<td>8 Mango, 8 Veggie, 5 Vegan, 3 Chic, 3 Niguiri AVO, 3 Geisha Kiuri</td>
				<td>$2400.-</td>
			</tr>
			<tr>
				<td>x40</td>
				<td>8 Mango, 8 Veggie, 5 Vegan, 5 Chic, 5 Cucumber, 5 Niguiri AVO, 4 Geisha Kiuri </td>
				<td>$3100.-</td>
			</tr>
		</table>
	</section>
	</div>
	<div id="promociones__boton">	
		<a href="../views/locales.html">
		<img class="boton"src="../img/haztupedido2.png" alt="haz tu pedido sushi lin"></a>
	</div>
</main>
<!-- end main -->

<footer>
	<div class="direcciones">
		<p>Los Cardales</p>
		<p>Rivadavia 40, Los Cardales, Buenos Aires.</p>
		<p>Telefono: +54 1124675151</p><br>
		<p>Benavidez</p>
		<p>Presidente Perón 6408, Benavidez, Buenos Aires.</p>
		<p>Telefono: +54 1136962316</p>
	</div>
	<div class="emails">
		<p>ESCRIBINOS</p><br>
		<p>contacto.sushilin@gmail.com</p>
		<p>contacto.sushilin2@gmail.com</p>
	</div>
	<div class="iconos">
	<a href="https://wa.me/541124675151/" target=_blank>
		<img class="boton" src="../img/wp.png" alt="whatsapp sushi lin"></a>
	<a href="https://www.facebook.com/SUSHI-LIN-2299643306979453/" target="_blank">
		<img class="boton" src="../img/face.png" alt="facebook sushi lin"></a>
	<a href="https://www.instagram.com/lin.sushi/" target="_blank"><img class="boton" src="../img/ig.png" alt="instagram ig sushi lin" width="60"height="60"></a>
	</div>
</footer>

</body>
</html>